.header {
    display:flex;
    justify-content: center;
    height: 100;
    flex-wrap: wrap;
 }
 .main {
    display:flex;
    justify-content: space-evenly;
    height: 100;
    flex-wrap: wrap;
 }
.header-item {
    height: 200px;
    width: 400px;
    background-color: gray;
    border: 5px solid black;
    margin-bottom: 5px;
}
.main-item {
    height: 200px;
    width: 300px;
    background-color: gray;
    border: 5px solid black;
    margin-bottom: 5px;
}

@media screen and (max-width: 652px) {
    .main-item {
        background-color: rgb(201, 22, 22);
    }
}